<h1> **ALERT** <%= @case.title %> removal:</h1> 
<p>An EBWiki administrator has removed the <%= link_to @case.title, @case %> case from EBWiki.</p>
<p>Please feel free to let us know if this removal was in error.</p>
