<div class="row">
  <div class="col-lg-3" style="text-align:center;">
    <%= image_tag(this_case.avatar.medium_avatar) %>
    <br>
    <%= link_to this_case.title, case_path(this_case) %>
  </div>
  <div class="col-lg-9">
    <%= truncate(this_case.overview, length:500) %>
  </div>
</div>